<!DOCTYPE html>
<html lang="en">
<head>
  <title>DevBLog - Blog for developers,technical writers</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="/css/navbar.css" rel="stylesheet"/>
  <link href="/images/logo.PNG" rel="icon" type="image/png"/>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><span class="logo">Dev</span> Blog</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <% if(!user) { %>
      <li><a href="/auth/login" class="loginGoogle"><i class="fa fa-google" style="color:white;"></i> Login with google</a></li>
      <% } else { %>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Hello <%= user.username %>
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/my-profile/">Profile</a></li>
            <li><a href="/write">Write Blog</a></li>
          </ul>
      </li>
        <li><a href="/auth/logout">Logout</a></li>
      <% } %>
    </ul>
  </div>
</nav>
    